@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;900&display=swap");
html {
  background: #101f2d; }

body {
  font-family: 'Nunito', sans-serif;
  background-color: #e4e7eb;
  color: rgba(0, 0, 0, 0.85); }

a, a:visited {
  color: rgba(0, 0, 0, 0.85); }

.headline {
  font-size: 24px; }

.heading {
  font-size: 14px;
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.caps {
  text-transform: uppercase; }

.success-text {
  color: #66b512; }

.container {
  max-width: 1335px; }

.navbar-brand .logo {
  width: 127px;
  height: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-weight: bold;
  padding-top: 15px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  padding-left: 70px;
  background: url(assets/logo.jpg) no-repeat top left;
  background-size: 60px 56px; }

.navbar {
  border-bottom: 1px solid #979797; }
  .navbar .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    text-transform: uppercase;
    padding: .5rem 2rem; }
    .navbar .nav-link a.active {
      border-bottom: 1px solid red; }

#profileMenu {
  background: #e4e7eb;
  width: 100%;
  border-radius: 0;
  padding: 0;
  margin-top: 13px; }
  #profileMenu a {
    display: block;
    padding: 15px 0;
    padding-right: 60px;
    text-align: right; }
    #profileMenu a:hover {
      background-color: rgba(0, 0, 0, 0.85);
      color: white; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  .navbar-expand-lg .navbar-nav .nav-link.active {
    border-bottom: 3px solid #0091ff; }
  .navbar-expand-lg .navbar-nav .nav-link:hover {
    background: #eee;
    border-radius: 20px; }

#subNav {
  text-align: center;
  width: 910px;
  margin: 0 auto; }
  #subNav a {
    display: inline-block;
    text-align: center;
    width: 130px;
    font-size: 14px;
    color: #979797;
    font-weight: 600; }
    #subNav a:hover {
      background: #eee; }
  #subNav .icon {
    display: block;
    height: 47px;
    width: 80px;
    margin: 0 auto; }
    #subNav .icon.cat1 {
      background: url(assets/nav-cat-1.png) center no-repeat;
      background-size: 60px; }
    #subNav .icon.cat2 {
      background: url(assets/nav-cat-2.png) center no-repeat;
      background-size: 50px; }
    #subNav .icon.cat3 {
      background: url(assets/nav-cat-3.png) center no-repeat;
      background-size: 39px; }
    #subNav .icon.cat4 {
      background: url(assets/nav-cat-4.png) center no-repeat;
      background-size: 50px; }
    #subNav .icon.cat5 {
      background: url(assets/nav-cat-5.png) center no-repeat;
      background-size: 60px; }
    #subNav .icon.cat6 {
      background: url(assets/nav-cat-6.png) center no-repeat;
      background-size: 60px; }
    #subNav .icon.cat7 {
      background: url(assets/nav-cat-7.png) center no-repeat;
      background-size: 50px; }

.thumb {
  display: inline-block;
  width: 68px;
  height: 68px;
  vertical-align: middle;
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden; }
  .thumb img {
    max-width: 68px; }
  .thumb.small {
    width: 40px;
    height: 40px; }
    .thumb.small img {
      max-width: 40px; }
  .thumb.large {
    width: 123px;
    height: 130px; }
    .thumb.large img {
      max-width: 130px; }

.features, .calendar {
  border-bottom: 1px solid #979797;
  padding: 2rem 0; }

#categories .card, #instructors .card, #classes .card {
  height: 186px;
  padding: 80px 42px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 105% bottom;
  border-radius: 6px; }

.cat-name {
  font-size: 18px;
  text-transform: uppercase; }

.date, .time {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; }

#categories .card {
  background-color: #000000; }
  #categories .card .cat-name {
    color: rgba(255, 255, 255, 0.85); }
  #categories .card.cat-1 {
    background-image: url(assets/cat-1.png); }
  #categories .card.cat-2 {
    background-image: url(assets/cat-2.png); }
  #categories .card.cat-3 {
    background-image: url(assets/cat-3.png); }
  #categories .card.cat-4 {
    background-image: url(assets/cat-4.png); }
  #categories .card.cat-5 {
    background-image: url(assets/cat-5.png); }
  #categories .card.cat-6 {
    background-image: url(assets/cat-6.png); }

#instructors .card {
  border: solid 1px #979797;
  padding-top: 50px; }
  #instructors .card .cat-name {
    color: rgba(0, 0, 0, 0.85); }
  #instructors .card.cat-7 {
    background: url(assets/cat-7.png) no-repeat bottom right #fefefe; }
  #instructors .card.cat-8 {
    background: url(assets/cat-8.png) no-repeat bottom right #f7f7f7; }
  #instructors .card.cat-9 {
    background: url(assets/cat-9.png) no-repeat bottom right #f2f2f2; }

#classes .card {
  color: white;
  padding: 20px 42px;
  border: none; }
  #classes .card.class-1 {
    background: url(assets/class-1.png) no-repeat; }
  #classes .card.class-2 {
    background: url(assets/class-2.png) no-repeat; }
  #classes .card.class-3 {
    background: url(assets/class-3.png) no-repeat; }
#classes .info {
  font-weight: 600;
  padding: 0;
  margin-left: 0;
  font-size: 14px;
  text-transform: uppercase; }
  #classes .info li {
    list-style: none; }
#classes .startTime {
  display: block;
  margin-left: 35px;
  font-weight: 600; }

.btn {
  border-radius: 19px;
  background-color: #fff;
  font-size: 14px;
  min-width: 150px;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  border: solid 0.5px #000000; }
  .btn:hover {
    background: #555;
    color: white; }
  .btn.active {
    background: #0091ff;
    color: #fff;
    border: solid 0.5px #0091ff; }
    .btn.active:hover {
      background-color: #0569b5; }
  .btn.success {
    background: #66b512;
    color: #fff;
    border: solid 0.5px  #66b512; }
    .btn.success:hover {
      background-color: #4d9006; }
  .btn.btn-lg {
    font-size: 27px;
    padding: 10px 50px;
    border-radius: 26px; }

.company-info {
  padding: 10px 0;
  background: url(assets/wheelchair-dancers.png) left center no-repeat;
  background-size: 87px 87px; }
  .company-info li {
    list-style: none;
    color: #2a4560;
    font-size: 12px;
    padding: 0; }

.rounded-box {
  background: #fff;
  border-radius: 14px;
  padding: 10px; }

.modal-content {
  border-radius: 15px;
  padding: 30px; }

#calendarSlider .item {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900; }
  #calendarSlider .item a {
    display: inline-block;
    padding: 10px 25px;
    color: #5b6474;
    text-align: center; }
    #calendarSlider .item a:hover {
      background-color: #f5f7f9;
      text-decoration: none;
      border-radius: 23px; }
    #calendarSlider .item a.active {
      color: white;
      border-radius: 23px;
      background-color: #5b6474; }

.calendar {
  padding: 1em 0; }

.slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 24px;
  line-height: 1;
  opacity: .75;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev::before {
  background: url(assets/prev.png) no-repeat center;
  background-size: 12px 20px; }

.slick-next::before {
  background: url(assets/next.png) no-repeat center;
  background-size: 12px 20px; }

footer {
  background: #101f2d;
  padding: 15px 0; }
  footer * {
    color: #00b2ff; }
  footer .footer-links {
    padding: 0; }
    footer .footer-links li {
      display: inline-block;
      margin-right: 10px; }
    footer .footer-links a {
      margin-right: 10px;
      font-size: 12px;
      color: #00b2ff; }
  footer .copyright {
    font-size: 12px;
    color: #00b2ff;
    width: 400px; }

object {
  height: 1px;
  width: 1px;
  opacity: 0.01; }

@media (max-width: 991px) {
  #categories .card, #instructors .card, #classes .card {
    height: 186px;
    padding: 80px 20px; }

  #classes .card {
    color: white;
    padding: 20px 20px;
    border: none; }

  #navbarCollapse {
    background-color: #e4e7eb;
    margin: 10px -16px -8px -16px; }
    #navbarCollapse .navbar-nav {
      text-align: right; }
      #navbarCollapse .navbar-nav .active {
        background-color: rgba(0, 0, 0, 0.85);
        color: white; }

  #subNav {
    width: 100%; }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; }
    .scrolling-wrapper-flexbox .nav-link {
      flex: 0 0 auto; } }
@media (max-width: 767px) {
  .day {
    display: block; }

  footer .copyright {
    width: 100%; } }
